:root {
  --board-width: 800px;
  --board-height: 400px;
}

#game-board {
  position: relative;
  /* +4px makes the small space after the last brick */
  width: var(--board-width);
  height: var(--board-height);
  border: 3px solid black;
}

#paddle {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 50px);
  width: 100px;
  height: 20px;
  background-color: blue;
}

.brick {
  position: absolute;
  width: calc(var(--board-width) / 10 - 1px);
  height: 20px;
  background-color: blue;
}
